<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :why %><br />
    <%= f.text_area :why %>
  </div>
  <div class="field">
    <%= f.label :how_long %><br />
    <%= f.number_field :how_long %>
  </div>
  <div class="field">
    <%= f.label :app_name %><br />
    <%= f.text_field :app_name %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :free %><br />
    <%= f.text_area :free %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
